.main {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: auto;
    max-width: 80%;
    height: auto;
    padding:5px 10px;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 999999999999999999999999;
    backdrop-filter: blur(10px);
}

.main p{
    position: relative;
    width: auto;
    height: auto;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 450;
    text-transform: capitalize;
}

.main span{
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 50%;
    line-height: 0px;
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.main span:hover{
    background-color: #f6f6f665;
}